# OS
Thumbs.db
.DS_Store
desktop.ini

# Logs
*.log

# Editor
.vscode/
.idea/

# Other roles' files (not part of admin scope)
blog-and-news-publishing-platform/app/models/Article.php
blog-and-news-publishing-platform/app/middleware/reader.php
blog-and-news-publishing-platform/app/middleware/author.php
blog-and-news-publishing-platform/app/middleware/editor.php
