body {background-color: rgb(243, 236, 212);}
.header
{
    text-align: center;
    background-color: black;
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
}
.profile
{
    border: 3px solid black;
    margin: 50px auto;
}
.image
{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: 2px solid black;
    display: block;
    margin: 30px auto;
}
.data
{
    text-align: center;
    font-family:serif;
    line-height: 0.5;
}
.footer
{
    text-align: center;
    font-size: 20px;
    background-color: rgb(3, 164, 250);
    color: white;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
}