body 
{
    font-family: Arial;
    background-color:ghostwhite;
    text-align: center;
    padding: 30px;
}

textarea 
{
    width: 80%;
    height: 150px;
    padding: 10px;
    font-size: 16px;
}

button 
{
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
}

#result 
{
    margin-top: 20px;
    padding: 15px;
    background: white;
    border: 1px solid gray;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}